/* Card animation */
.register-card {
  background-color: #b8ced5ff;
  animation: scaleIn 0.6s ease-in-out;
}

/* Form slide from left */
.form-animate {
  animation: slideLeft 0.8s ease forwards;
}

/* Image slide from right */
.image-animate {
  animation: slideRight 0.8s ease forwards;
}

/* Animations */
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
